<footer class="footer">
      <div class="containerLeft">
       <div class="unidades">
        <h3 class="tituloLista">Unidades</h3>
    <ul class="footerListas">
      
      <li><a href="contato.html">Moinhos</a></li>
      <li><a href="contato.html">Gramado</a></li>
    </ul>
  </div>
  <div class="infoFooter">
    <ul class="footerListas">
      <li><a href="#sobre-nos">Sobre Nós</a></li>
      <li><a href="#servicos">Serviços</a></li>
      <li><a href="#produtos">Produtos</a></li>
      <li><a href="#cadastro">Contato</a></li>
    </ul>
  </div>
  </div>

      <div class="containerLogoF">
        <img src="assets/logo.png">
      </div>
      <section class="infosLaterais">
        <div id="atendimentoTel">
          <h1>Central de atendimento:</h1> 
          <a href="https://web.whatsapp.com/" >(51) 99999-9999</a>
        </div>
        <div id="atendimentoInfo">
          <p id="atendimentoP">Horário de atendimento: </br>
          De segunda à sexta, das 08h às 18h
          </p>
        </div>

      </section>

      </div>
    </footer>