<header>
      <div class="logo">
        <a href="index.html">
        <img id="logoHeader"
          src="assets/logo.png"
          alt="Polina - Mercado de produtos do leste europeu"
        />
        </a>
      </div>
      <nav>
        <ul class="headerLista">
          <li><a href="https://tonozzi.github.io/polina-market/#sobre-nos">Sobre nós</a></li>
          <li class="dropdown">
            <a href="#servicos">Serviços <img src="assets/arrow_drop_down_16dp_FFFFFF_FILL0_wght400_GRAD0_opsz20.svg"></a>
            <ul class="submenu">
              <li><a href="#">TeleEntrega</a></li>
              <li><a href="#">Retirada</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#produtos">Produtos <img src="assets/arrow_drop_down_16dp_FFFFFF_FILL0_wght400_GRAD0_opsz20.svg"></a>
            <ul class="submenu">
              <li><a href="./produtos-nao-pereciveis.html">Alimentos não perecíveis</a></li>
              <li><a href="./alimentos-tipicos.html">Alimentos típicos</a></li>
              <li><a href="./verduras.html">Hortaliças</a></li>
              <li><a href="./limpeza.html">Limpeza</a></li>
              <li><a href="./higiene.html">Higiene</a></li>
            </ul>
          </li>
          <li><a href="./contato.html">Contato</a></li>
          <li id="cadastroNav"><img src="assets/cadastro.svg"><a href="#cadastro">Cadastro</a></li>
          <li id="cadastroNav"><img src="assets/login.svg"><a href="#login">Login</a></li>
        </ul>
      </nav>
    </header>